.goal-time {
    position: absolute;
    top: 70px;
    word-break: break-all;
    right: 0;
    display: flex;
    width: 73px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
}