.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

  span {
    font-size: 5rem;
    transition: color 0.3s ease;
  }
}

.time-alert {
  color: red !important;
  font-weight: bold;
}