<ion-content *ngIf="trainingDetails">
  <ion-alert trigger="back-alert" header="Da li si siguran da želiš da odustaneš?" [buttons]="alertButtons"></ion-alert>

  <ion-button id="back-alert" color="danger" expand="full">Odustani</ion-button>

  <ion-card style="color: white; background-color: rgb(55, 47, 47);">
    <ion-card-content>
      <h1><b>Trening {{ trainingDetails.name }}</b></h1>
      <ion-input fill="outline" style="margin-top: 15px;" [(ngModel)]="trainingDetails.name"
        placeholder="Naziv treninga"></ion-input>
      <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="trainingDetails.description"
        placeholder="Opis treninga"></ion-input>
      <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="trainingDetails.breakBetweenGroups"
        placeholder="Trajanje pauze između grupa"></ion-input>
      <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="trainingDetails.breakBetweenSeries"
        placeholder="Trajanje pauze između serija"></ion-input>
      <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="trainingDetails.breakBetweenExercises"
        placeholder="Trajanje pauza između vežbi"></ion-input>

      <ion-card color="light" *ngFor="let group of trainingDetails.trainingGroups">
        <ion-card-content>
          <div style="display: flex; justify-content: flex-end;">
            <ion-button color="danger" (click)="removeGroup(group)">
              <ion-icon size="large" name="trash-outline"></ion-icon>
            </ion-button>
          </div>

          <h1><b>Grupa {{ group.name }}</b></h1>
          <ion-input fill="outline" style="margin-top: 15px;" [(ngModel)]="group.name"
            placeholder="Naziv grupe"></ion-input>
          <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="group.description"
            placeholder="Opis grupe"></ion-input>
          <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="group.time"
            placeholder="Vreme trajanja vežbe"></ion-input>
          <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="group.numberOfSeries"
            placeholder="Broj ponavljanja"></ion-input>
          <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="group.order"
            placeholder="Redni broj grupe"></ion-input>

          <ion-card color="warning" *ngFor="let exercise of group.exercises">
            <ion-card-content>
              <div style="display: flex; justify-content: flex-end;">
                <ion-button color="danger" (click)="removeExercise(exercise)">
                  <ion-icon size="large" name="trash-outline"></ion-icon>
                </ion-button>
              </div>

              <h1><b>Vežba {{ exercise.name }}</b></h1>
              <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="exercise.name"
                placeholder="Naziv vežbe"></ion-input>
              <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="exercise.description"
                placeholder="Opis vežbe"></ion-input>
              <ion-input fill="outline" style="margin-top: 5px;" [(ngModel)]="exercise.order"
                placeholder="Redni broj većbe"></ion-input>
            </ion-card-content>
          </ion-card>

          <ion-button expand="full" color="warning" (click)="addExercise(group)">Dodaj vežbu</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-button color="light" expand="full" (click)="addGroup()">Dodaj grupu</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="saveTraining()">Sačuvaj</ion-button>
</ion-content>