<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'trainings.adding' | translate }}</ion-title>
    <ion-buttons slot="end">
      <app-language-switcher></app-language-switcher>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trainingDetails">
  <ion-alert trigger="back-alert" [header]="'alert.cancelChanges' | translate" [buttons]="alertButtons"></ion-alert>

  <ion-button id="back-alert" color="danger" expand="full">{{ 'button.cancel' | translate }}</ion-button>

  <!-- Validation errors summary -->
  <ion-card *ngIf="validationErrors && Object.keys(validationErrors).length > 0" color="danger" style="margin: 10px;">
    <ion-card-content>
      <ion-icon name="alert-circle" style="vertical-align: middle; margin-right: 8px;"></ion-icon>
      <strong>Greške:</strong>
      <ul style="margin: 10px 0; padding-left: 20px;">
        <li *ngFor="let error of Object.values(validationErrors)">{{ error }}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card style="color: white; background-color: rgb(55, 47, 47);">
    <ion-card-content>
      <h1><b>{{ 'text.training' | translate }} {{ trainingDetails.name }}</b></h1>
      
      <ion-item fill="outline" class="custom-input-item" style="margin-top: 15px; margin-bottom: 5px;">
        <ion-label>{{ 'training.name' | translate }}</ion-label>
        <ion-input [(ngModel)]="trainingDetails.name"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
        <ion-label>{{ 'training.description' | translate }}</ion-label>
        <ion-input [(ngModel)]="trainingDetails.description"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
        <ion-label>{{ 'training.breakBetweenGroups' | translate }} (s)</ion-label>
        <ion-input type="number" [(ngModel)]="trainingDetails.breakBetweenGroups"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
        <ion-label>{{ 'training.breakBetweenSeries' | translate }} (s)</ion-label>
        <ion-input type="number" [(ngModel)]="trainingDetails.breakBetweenSeries"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
        <ion-label>{{ 'training.breakBetweenExercises' | translate }} (s)</ion-label>
        <ion-input type="number" [(ngModel)]="trainingDetails.breakBetweenExercises"></ion-input>
      </ion-item>

      <ion-card color="light" *ngFor="let group of trainingDetails.trainingGroups">
        <ion-card-content>
          <div style="display: flex; justify-content: flex-end;">
            <ion-button color="danger" (click)="removeGroup(group)">
              <ion-icon size="large" name="trash-outline"></ion-icon>
            </ion-button>
          </div>

          <h1><b>{{ 'text.group' | translate }} {{ group.name }}</b></h1>
          
          <ion-item fill="outline" class="custom-input-item" style="margin-top: 15px; margin-bottom: 5px;">
            <ion-label>{{ 'group.name' | translate }}</ion-label>
            <ion-input [(ngModel)]="group.name"></ion-input>
          </ion-item>

          <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
            <ion-label>{{ 'group.description' | translate }}</ion-label>
            <ion-input [(ngModel)]="group.description"></ion-input>
          </ion-item>

          <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
            <ion-label>{{ 'group.exerciseDuration' | translate }} (s)</ion-label>
            <ion-input type="number" [(ngModel)]="group.time"></ion-input>
          </ion-item>

          <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
            <ion-label>{{ 'group.numberOfSeries' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="group.numberOfSeries"></ion-input>
          </ion-item>

          <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
            <ion-label>{{ 'group.order' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="group.order"></ion-input>
          </ion-item>

          <ion-card color="warning" *ngFor="let exercise of group.exercises">
            <ion-card-content>
              <div style="display: flex; justify-content: flex-end;">
                <ion-button color="danger" (click)="removeExercise(exercise, group)">
                  <ion-icon size="large" name="trash-outline"></ion-icon>
                </ion-button>
              </div>

              <h1><b>{{ 'text.exercise' | translate }} {{ exercise.name }}</b></h1>
              
              <ion-item fill="outline" class="custom-input-item" style="margin-top: 5px; margin-bottom: 5px;">
                <ion-label>{{ 'exercise.name' | translate }}</ion-label>
                <ion-input [(ngModel)]="exercise.name"></ion-input>
              </ion-item>

              <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
                <ion-label>{{ 'exercise.description' | translate }}</ion-label>
                <ion-input [(ngModel)]="exercise.description"></ion-input>
              </ion-item>

              <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
                <ion-label>{{ 'exercise.order' | translate }}</ion-label>
                <ion-input type="number" [(ngModel)]="exercise.order"></ion-input>
              </ion-item>

              <ion-item fill="outline" class="custom-input-item" style="margin-bottom: 5px;">
                <ion-label>{{ 'exercise.duration' | translate }} (s)</ion-label>
                <ion-input type="number" [(ngModel)]="exercise.time"
                  [value]="group.time"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-button expand="full" color="warning" (click)="addExercise(group)">{{ 'button.addExercise' | translate }}</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-button color="light" expand="full" (click)="addGroup()">{{ 'button.addGroup' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="saveTraining()">{{ 'button.save' | translate }}</ion-button>
</ion-content>