<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!addingTraining && !reviewing">Treninzi
      <span *ngIf="!trainings || trainings.length === 0"> - Nema dodatih treninga. Kreiraj ih!</span>
    </ion-title>
    <ion-title *ngIf="addingTraining">Dodavanje treninga
    </ion-title>
    <ion-title *ngIf="reviewing">Pregled treninga
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div [hidden]="addingTraining || reviewing">
    <ion-card *ngFor="let training of trainings" style="color: white; background-color: rgb(55, 47, 47);"
      class="clickable">

      <ion-card-header (click)="editTraining(training)">
        <ion-card-title style="color: white;"><b>Naziv treninga:</b> {{ training.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content (click)="editTraining(training)">
        <h2 *ngIf="training.description"><b>Opis treninga:</b> {{ training.description }}</h2>
      </ion-card-content>

      <div style="display: flex; justify-content: space-between;">
        <div style="width: 50%;">
          <ion-button style="width: 31%; height: 80%;" color="success"
            (click)="playTraining(training)">Treniraj</ion-button>
          <ion-button style="width: 31%; height: 80%;" color="warning" (click)="review(training)">Pregled</ion-button>
          <ion-button style="width: 31%; height: 80%;" color="primary" (click)="export(training)">Export</ion-button>
        </div>
        <ion-button color="danger" id="remove-alert-{{training.id}}" (click)="selectedTrainingForRemoval = training">
          <ion-icon size="large" name="trash-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-alert trigger="remove-alert-{{training.id}}" class="custom-alert"
        header="Da li si siguran da želiš da obrišeš trening?" [buttons]="alertButtons"></ion-alert>
    </ion-card>

    <ion-button size="medium" expand="full" (click)="addTraining()">Dodaj Trening</ion-button>
    <ion-button size="medium" expand="full" *ngIf="!isImporting" (click)="importTraining()" color="medium">Importuj Trening</ion-button>
    <ion-item *ngIf="isImporting">
      <ion-input *ngIf="isImporting" [(ngModel)]="importedTraining"
      placeholder="Ubaci JSON"></ion-input>
      <ion-button style="width: 40%; height: 75%;" (click)="importTrainingFinish()" color="medium">Završi</ion-button>
    </ion-item>
  </div>

  <app-add-training [hidden]="!addingTraining || reviewing" [isEdit]="!!selectedTraining"
    [trainingDetails]="selectedTraining" (trainingSaved)="onFinish()"
    (getBack)="this.addingTraining = false"></app-add-training>

  <div *ngIf="reviewing && selectedTrainingForReview">
    <ion-button color="danger" expand="full"
      (click)="reviewing = false; selectedTrainingForReview = undefined;">Nazad</ion-button>

    <div style="margin-left: 10px; letter-spacing: 1px; text-align: justify;">
      <h1 style="text-decoration: underline; text-underline-offset: 7px;">Trening</h1>
      <div *ngIf="selectedTrainingForReview.name" style="margin-top: 5px;"><b>Naziv treninga:</b>
        {{selectedTrainingForReview.name}}</div>
      <div *ngIf="selectedTrainingForReview.description" style="margin-top: 5px;"><b>Opis treninga:</b>
        {{selectedTrainingForReview.description}}</div>
      <div *ngIf="selectedTrainingForReview.breakBetweenGroups" style="margin-top: 5px;"><b>Pauza između grupa:</b>
        {{selectedTrainingForReview.breakBetweenGroups}}</div>
      <div *ngIf="selectedTrainingForReview.breakBetweenExercises" style="margin-top: 5px;"><b>Pauza između vežbi:</b>
        {{selectedTrainingForReview.breakBetweenExercises}}</div>
    </div>

    <ion-card *ngFor="let group of selectedTrainingForReview.trainingGroups"
      style="color: white; background-color: rgb(55, 47, 47);" class="clickable">
      <ion-card-content style="letter-spacing: 1px; text-align: justify;">
        <h1 style="text-decoration: underline; text-underline-offset: 7px;">Grupa</h1>
        <div><b>Naziv grupe:</b> {{ group.name }}</div>
        <div><b>Opis grupe:</b> {{ group.description }}</div>
        <div><b>Vreme trajanja vežbe:</b> {{ group.time }}</div>
        <div><b>Redni broj grupe:</b> {{ group.order }}</div>
        <div><b>Broj ponavljanja:</b> {{ group.numberOfSeries }}</div>
        <div *ngFor="let exercise of group.exercises"
          style="letter-spacing: 1px; text-align: justify; margin-top: 15px; padding-left: 30px;">
          <h1 style="text-decoration: underline; text-underline-offset: 7px;">Vežba</h1>
          <div><b>Naziv vežbe:</b> {{ exercise.name }}</div>
          <div><b>Opis vežbe:</b> {{ exercise.description }}</div>
          <div><b>Redni broj vežbe:</b> {{ exercise.order }}</div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>